/*
Light Blue #C7D6EE
Dark Gray #58595B
Blue #003D79
Yellow #F2E18B
*/

.container-fluid{
    margin: 0 3%;
}

/*------  PANEL START  ------*/
.link:hover, .link:visited, .link:link, .link:active{
    text-decoration: none;
}

.link:hover .panel{
    background: #003D79;
    transition: 0.5s ease;
    border-width: 3px;
    border-color: white;
}
.link:hover h2{
    color: white;
}
.link:hover .icon{
    display: none;
}
.link:hover .desc{
    display: inline-block;
}

.panel-default{
    margin: 0;
    border-radius: 10px;
    padding: 15px;
    border-width: 0;
    height: 250px;
}

.wrap{
    padding: 3% 3%;
}

.icon-cont{
    width: 150px;
    margin: 0 auto;
}
.icon{
    width: 100%;
}

.desc{
    display: none;
}
/*------  PANEL END  ------*/


/* ------ MASTHEAD START ------ */
#nav{
    width: 90%;
    padding: 10px;
    padding-top: 12px;
    margin: 0 auto;
    background: white;
    margin-bottom: 50px;
}

#cki{
    height: 50px;
    margin-left: 12px;
}

#cnh {
    height: 50px;
    float: right;
    margin-right: 12px;
}

#stripes{
    width: 100%;
    max-height: 8px;
    min-height: 5px;
    margin-top: 12px;
}
/* ------ MASTHEAD END ------ */
