/*
Light Blue #C7D6EE
Dark Gray #58595B
Blue #003D79
Yellow #F2E18B
*/

h2{
    font-family: "Archer";
    font-size: 25px;
    text-align: center;
    color: black;
    margin-top: 0;
    margin-bottom: 3%;
}

#inst{
    font-family: "Archer";
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 5%;
    display: none;
}

p{
    text-align: justify;
    text-justify: inter-word;
    font-size: 12px;
    margin: 0 12px;
}

.container-fluid{
    margin: 0 6%;
}


/* ------ MASTHEAD START ------ */
#nav{
    width: 100%;
    padding-top: 12px;
    margin: 0 auto;
    /* background: white; */
    /* margin-bottom: 50px; */
    bottom: 0;
}

#cki{
    height: 70px;
    margin-left: 18px;
}

#cnh {
    height: 70px;
    float: right;
    margin-right: 18px;
}

#stripes{
    width: 100%;
    max-height: 12px;
    min-height: 4px;
    margin-top: 12px;
}

#home{
    text-align: left;
    margin-top: 1%;
    margin-bottom: 0;
    font-size: 20px;
    color: black;
}
/* ------ MASTHEAD END ------ */


/*        HEADER START         */
div.header{
    padding: 5%;
    text-decoration: none;
}

h2.header{
    color: white;
    font-size: 50px;
    font-family: "Archer";
    text-align: left;
    margin: 0;
    margin-top: 4%;
}

h1.header{
    color: white;
    font-family: "Archer";
    font-size: 100px;
    margin: 0;
}

#bottom{
    width: 100%;
    margin-top: 2%;
    pointer-events: none;
}

.sun{
    width: 200px;
    position: absolute;
    right: 12%;
    pointer-events: none;
}


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.sun-out
{
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         10s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}

.out1
{
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         6s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}

.out2
{
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         12s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}

/*        HEADER END         */

/*------  PANEL START  ------*/
.panel-default{
    margin: 0;
    border-radius: 10px;
    padding: 4% 3%;
    height: 230px;
    border-width: 3px;
    border-color: white;
}

.wrap{
    padding: 2.3%;
}

.icon-cont{
    width: 120px;
    margin: 0 auto;
}
.icon{
    width: 100%;
}

.desc{
    display: none;
}

.link:hover, .link:visited, .link:link, .link:active{
    text-decoration: none;
}

.link:hover .panel-default{
    background: #003D79;
    transition: 0.3s ease;
}
.link:hover h2.title{
    color: white;
}
.link:hover .icon{
    display: none;
}
.link:hover .desc{
    display: inline-block;
}

/*------  PANEL END  ------*/

@media screen and (max-width: 1000px) {
    .sun{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .wrap{
        padding: 3% 0;
    }
    .panel-default{
        height: 240px;
    }
    h2{ font-size: 22px; }

    #inst{
        display: block;
    }

    .icon-cont{
        width: 150px;
        margin-top: 20px;
    }

    p{ font-size: 13px; }

    div.header{ padding: 0 8%; }

    h1.header{ font-size: 50px; }

    h2.header{ font-size: 30px; }

    #bottom{ margin-bottom: 10%;
    }
    #cki{
      height: 30px;
      margin-left: 6px;
    }
    #cnh{
      height: 30px;
      margin-right: 6px;
    }
    #stripes{ margin: 0; }

    #nav{
      padding-bottom: 0;
    }
}

@media screen and (max-height: 450px) {

}
