@font-face{font-family: 'CenturyGothic'; src: url(Fonts/CenturyGothic.ttf) format('truetype');}
@font-face{font-family: 'MyriadPro'; src: url(Fonts/MyriadPro-Regular.otf) format('opentype');}
@font-face{font-family: 'Archer'; src: url(Fonts/Archer-Semibold.otf) format('opentype');}

body{
    font-family: "MyriadPro";
    background: #003D79;
}

p{
    text-align: center;
    color: white;
}

h1, h2 {
    font-family: "Archer";
    text-align: left;
    color: white;
    margin: 0;
}

h2{
    font-size: 30px;
}

h1{
    font-size: 55px;
    margin-bottom: 5%;
}

@media screen and (max-width: 768px) {
    h2{
        font-size: 20px;
        padding-left: 2%;
    }
    h1{
        font-size: 35px;
        padding-left: 2%;
    }
    P{
        font-size: 10px;
    }
}
