h1, h2 {
    font-family: "Archer";
    text-align: left;
    color: white;
    margin: 0;
}

h2{
    font-size: 40px;
}

h1{
    font-size: 68px;
    margin-bottom: 5%;
}

.right{
    padding: 6% 4%;
    padding-bottom: 0;
}

a.rss{
    color: black;
}

div.rss{
    font-family: "Archer";
    padding: 1%;
    font-size: 30px;
    border-radius: 10px;
    border-width: 4px;
    border-color: #003D79;
}

.type{
    height: 48px;
    margin-right: 12px;
}

a.rss:hover, a.rss:visited, a.rss:active{
    text-decoration: none;
}
a.rss:hover div{
    color: white;
    background: #003D79;
    border-color: white;
    letter-spacing: 2px;
    transition: 0.5s ease;
}

#masthead{
    width: 100%;
    margin-top: 5%;
}


@media screen and (max-width: 768px) {
    .type{
        height: 30px;
        margin-right: 5px;
    }
    div.rss{
        padding: 2% 3%;
        font-size: 15px;
        margin: 3% 0;
    }
    h2{
        font-size: 20px;
    }
    h1{
        font-size: 40px;
    }
    a.rss:hover div{
        letter-spacing: 1px;
    }
}
