h1, h2 {
    font-family: "Archer";
    text-align: left;
    color: white;
    margin: 0;
}

h2{
    font-size: 30px;
}

h1{
    font-size: 55px;
    margin-bottom: 5%;
}

.right{
    padding: 6% 12% 6% 4%;
    padding-bottom: 0;
}

/*          BEGIN RESOURCES          */
.dropdown-glyph{
    font-size: 30px;
    background: blue;
}

.expand{
    text-align: left;
    width: 100%;
    background: none;
    padding: 1%;
    border: none;
    border-radius: 10px;
}

.collapse-cont{
    padding-left: 5%;
}

.collapse{
    display: none;
}

a.rss{
    color: black;
}

div.rss{
    font-family: "Archer";
    padding: 1%;
    font-size: 25px;
    border-radius: 10px;
    border-width: 4px;
    border-color: #003D79;
}

div.rss-dropdown{
    padding: 0;
}

.break{
    display: none;
}

.type{
    height: 48px;
    margin-right: 12px;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}
div.rss:hover, div.rss:visited, div.rss:active{
    text-decoration: none;
}
a.rss:hover div, a.rss:hover div button{
    color: white;
    background: #003D79;
    border-color: white;
    letter-spacing: 2px;
    transition: 0.2s ease;
}

/*          END RESOURCES          */

#masthead{
    width: 100%;
    margin-top: 5%;
}


@media screen and (max-width: 768px) {
    .type{
        height: 20px;
        margin-right: 5px;
    }
    div.rss{
        padding: 3% 4%;
        font-size: 15px;
        margin: 3% 0;
        text-align: left;
    }
    .break{
        display: block;
    }
    h2{
        font-size: 20px;
    }
    h1{
        font-size: 40px;
    }
    a.rss:hover div, a.rss:hover div button{
        letter-spacing: 0;
    }
}
